{% extends 'partials/boilerplate.html' %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col account-form">

            <form name="addinfo" method="POST" action="{% url 'account:addinfo' %}" class="col s12" id="addinfo">
                {% csrf_token %}
                {{ form.as_p }}
                {% if form.errors %}
                    <p class="red-text">Username or Password is incorrect</p>
                {% endif %}
                <!-- Button -->
                <div class="input-field col s6 center">
                    <button form="addinfo" value="AddInfo" class="btn btn-large btn-register waves-effect waves-light black" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock body %}