{% extends 'partials/boilerplate.html' %}
{% load crispy_forms_tags %}

{% block title %} {{ title }} {% endblock title %}

{% block body %}
{% include "partials/navbar.html" with active_tab='LogIn' %}

<div class="container">
    <div class="row">
        <div class="col account-form">

            <form name="register" method="POST" action="{% url 'account:login' %}" class="col s12" id="reg-form">
                {% csrf_token %}

                <!-- Username -->
                <div class="row">
                    <div class="input-field col s12">
                        {{form.username}}
                        <label for="username">Username</label>
                    </div>
                </div>
    
                <!-- Password -->
                <div class="row">
                    <div class="input-field col s12">
                        {{form.password}}
                        <label for="password">Password</label>
                    </div>
                </div>
                {% if form.errors %}
                    <p class="red-text">Username or Password is incorrect</p>
                {% endif %}
                <!-- Button -->
                <div class="input-field col s6 center">
                    <button form="reg-form" value="Signup" class="btn btn-large btn-register waves-effect waves-light black" type="submit">LogIn</button>
                </div>
            </form>
        </div>
    </div>
</div>
    

{% endblock body %}