{% extends 'partials/boilerplate.html' %}

{% block title %} Home {% endblock title %}

{% block body %}
{% include "partials/navbar.html" with active_tab='Home' %}

<div class="container">
    <h1>Hello</h1>
    <h3>{{user.first_name}}</h3>
    <h2>!!</h2>

    {% if can_post %}
        <p>You can create a post</p>
        <p>Check the Organization Stats <a href="{% url 'stats:organization-stats' %}">here</a></p>
    {% else %}
        <p>This page is view only mode, to create posts, please complete your account <a href="{% url 'account:addinfo' %}">here</a></p>
    {% endif %}
    </div>

{% endblock body %}